/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2024, 5:35:33 PM
    Author     : ritik
*/
.navbarContainer {
    display: flex;
    height: 70px;
    border: 1px salmon solid;
    background-color: white;
    flex-direction: row;
    align-items: center;
}

#navbarContainer .navBarButton {
    display: flex;
    justify-items: center;
    justify-content: space-between;

    margin-left: auto;
}

.navBarButton a {
    justify-content: center;
}

.navBarButton div {
    /* border: 1px black solid; */
}

.navBarButton div:hover {
    background-color: #2b6391;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


body {
    background-color: #bfe7ee !important;
}


.navbar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* justify-self: center; */
}


#profile-button :hover {
    box-shadow: 0 0 10px rgba(8, 10, 145, 0.7);
}


.notification-count {
    position: absolute;
    /* top: 0;
   right: 0; */
    margin-left: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    line-height: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


#profile-button img {
    margin-left: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px black solid;
}


.JLL-logo a {
    display: inline-block;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: black;
    /* background-color: #006e90; */

}


.fa-solid {
    font-family: monospace;
}

.fa-bell {
    color: #eca400;
}

.fa-circle-question {
    color: #006e90;
}


#sidebar {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: aliceblue;
    z-index: 9999;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    position: fixed;
    padding-top: 60px;
    transition: 0.6s;
}

#sidebar a {
    font-size: large;
    font-weight: 400;
    padding: 10px 15px;
    transition: 1.6s;

}

#sidebar a:hover {
    color: #2b6391;
    cursor: pointer;

}

#sidebar .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}

#sidebar span {
    margin-left: 10px;
    text-transform: none;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

}

hr {
    border: 1px solid #006e90;
    /* Added border style */
    position: fixed;
}


#main {
    transition: margin-left 0.6s;
    padding: 16px;
    /*margin-left: 20px;*/
    background-color: #4CAF50;

}


.oneSideBar{
    margin-left: 20px;
}


#main :hover {
    color: #063f6e;
    cursor: pointer;

}


.fixedDiv {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    justify-items: center;
}


/* nav bar button pop-up css */

.profile-card {
    margin-top: -20px;
    background-color: aliceblue;
    height: 120px;
    width: 300px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 9999;
    display: flex;
}


.notification-card {
    margin-top: -20px;
    background-color: aliceblue;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 9999;
}


.help-card {
    margin-top: -20px;
    background-color: aliceblue;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 9999;
}



.navPopup {
    display: flex;
    flex-direction: column;
}


.acs {
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    width: 100%;
    height: 500px;
}


.popUp-header {
    border-bottom: 1px rgb(105, 104, 104, 0.1) solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: bisque;
}

.popUp-label {
    margin-left: 10px;
    margin-top: 4px;
    font-weight: 600;
}


.close {
    margin-right: 10px;
    margin-top: 4px;
}


#logoutButton {
    background-color: #bfe7ee;
    border-radius: 10px;
    height: 35px;
    width: 280px;
    border: 1px solid #006e90;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.aba {
    display: flex;
    /* height: 25px; */
}

.abb {
    display: flex;
    /* height: 25px; */
}


.profileButton {
    font-size: x-large;
    color: black;
    text-decoration: underline;
}


#dashBoard .RDcalling , .insuranceTracker , .ODcalling , .HouseVerification , .centerVisitReport , .AuditScoringReport{
    display: flex ;
    justify-content: center !important;
    align-items: center !important;
    width: 85% !important;
    height: 400px !important;
    border: 1px #006e90 !important;
    background-color: rgb(123, 199, 235) !important;
    border-radius: 15px;
    z-index: 12 !important;
    margin-top: 36px;
}


#dashBoard {
    display: flex !important;
    justify-content: flex-start !important;
    flex-direction: column !important;
    /*justify-content:flex-start;*/
    align-items: center;
    width: 100% !important;
    border-top: 1px solid #eca400 !important;
    border-left: 1px solid #eca400 !important;
    border-right: 1px solid #eca400 !important;
    z-index: 10 !important;
    height: 1400px !important;
}

#superUser {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: inherit !important;
    height: 500px !important;
    border: 1px solid #eca400 !important;
    background-color: white !important;
    z-index: 10 !important;

}

/* table */
.my-card {

    padding: 15px;
    background-color: rgb(210, 219, 226);
    border-radius: 5px;
}

.my-card-a {

    padding: 15px;
    height: 320px;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    overflow: auto;
}

h4 {
    font-weight: bolder;
    font-style: italic;
    color: whitesmoke;
}

th {
    vertical-align: top !important;
}

#addRDcalling , #addODcalling , #addInsuranceTracker,  #addHouseVerification ,#addCenterVisitReport, #addAuditScoringReport{
    background-color: #4CAF50;
    /* Green */
    border-color: #00902b;
    color: white;
    padding: 4px 16px;
    border-radius: 12%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



#addRDcalling:active {
    background-color: #f44336;
    /* Red */
}



.RDcontainer , .ODcontainer , .HouseVerificationContainer , .CVRcontainer , .ASRcontainer{
    align-self: center;
    margin-top: 20px;
    width: 800px;
    border-radius: 20px;
    margin-bottom: 10px;
}



.RDcallingCard , .ODcallingCard , .InsuaranceTrackerCard , .houseVerificationCard , .CVRcard ,.ASRcallingCard{

    height: 600px;
    align-self: center;

}

.RDform , .InsuaranceTrackerform , .HVform , .CVRform , .ASRform , .ODform{
    padding: 40px;
    width:800px;
    height: 570px;
    /* border-radius: 20px !important; */
    background-color: aliceblue;
    overflow-x: auto;
    overflow-x: hidden;
}


.form-row {   
    margin-top: 10px;
}


label{
    margin-bottom: 0px !important;
}


.formHeader{
    width:auto;
    height:100px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    align-content: center;
}

h3{
    font-weight: 700 !important;
    font-family: 'Georgia';
}

.required {
    color: red;
}


.closeForm{
    font-size: xx-large !important;
    margin-left:720px;
    margin-top: -40px;
    text-align: right;
    position: absolute;
    z-index: 2;
    color: red;
}


.closeForm:hover {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.stylishLine , .stylishLinex{
    height: 2px; 
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 100, 0) , rgba(0, 0, 0, 0));
    position: relative;
    margin-top: -8px;
    width: 250px;

}

.stylishLinex{
    width: 350px !important; 
}


.form-control:focus {
    border-color: #218838 !important; /* Dark green border when focused */
    box-shadow: 0 0 5px #28a745 !important; /* Green glow effect when focused */
    outline: none !important; /* Remove default focus outline */
}

/* Export to excel */
.excel {
    display: inline-block;
    background: #14A3A1;
    color: #fff;
    font-weight: 600;
    width: auto;
    padding: 5px 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
}

.excel:hover {
    background: #479c3c;
}

/* CSS for Sreach bar  */


.form-controlx:focus {
    border-color: #218838; /* Dark green border when focused */
    box-shadow: 0 0 5px #28a745; /* Green glow effect when focused */
    outline: none; /* Remove default focus outline */
}



.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    border-radius: 20px;
}


.form-controlx {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    max-width:400px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    border-color: #28a745;
    padding: 15px 35px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}